@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: "Brandon Text";
  src: local("Brandon Text Bold"),
    url("../fonts/hvd_fonts_-_brandontext-bold-webfont.woff2") format("woff2"),
    url("../fonts/hvd_fonts_-_brandontext-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: local("Brandon Text Reguar"),
    url("../fonts/hvd_fonts_-_brandontext-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/hvd_fonts_-_brandontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: local("Brandon Text Regular Italic"),
    url("../fonts/hvd_fonts_-_brandontext-regularitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/hvd_fonts_-_brandontext-regularitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
:root {
  --font-sans: "Brandon Text", "Josefin Sans", Arial, Helvetica, sans-serif;
  --font-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
html,
body {
  font-family: var(--font-sans);
  line-height: 1.4;
}
input,
button {
  font-family: var(--font-sans);
  line-height: 1;
}
h1 {
  font-family: var(--font-serif);
  font-size: var(--xxxl);
  font-weight: bold;
}
h2 {
  font-family: var(--font-serif);
  font-size: var(--xxl);
  font-weight: bold;
  line-height: 1.2;
}
h3 {
  font-family: var(--font-serif);
  font-size: var(--xl);
  font-weight: bold;
  line-height: 1.2;
}
h4 {
  font-family: var(--font-sans);
  font-size: var(--md);
  font-weight: bold;
}
p {
  font-family: var(--font-sans);
  font-size: var(--md);
  font-weight: 400;
}
@media screen and (max-width: 650px) {
  h2 {
    font-size: var(--xl);
  }
  h3 {
    font-size: var(--lg);
  }
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
