html,
body,
#__nuxt {
  min-height: 100vh;
  color: var(--text);
}
a {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  transition: color var(--ease);
}
a svg {
  width: var(--ml);
  height: var(--ml);
}
svg {
  transition: color var(--ease);
}
label {
  cursor: pointer;
}
picture {
  position: relative;
  overflow: hidden;
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.block-scroll {
  overflow: hidden;
  height: 100%;
  margin: 0;
}
@media screen and (max-width: 650px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 651px) {
  .mobile {
    display: none;
  }
}
